body     {background-color: #F3EDE2;
           font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;} 
header {background-color: rgb(255, 255, 255); }

h1{
     font-family: "Pacifico";
     text-align: center;
     color:#2D252B;
}
     
h2{  font-family: "Quicksand";
     text-decoration: underline;
     font-weight: 450;
     text-align: center;
}

p {font-family: "Montserrat", sans-serif;
   align-items: center;
}
q{
     font-family: "Montserrat", sans-serif;
     font-style: italic;
     align-items:center;
}
footer{
     background-color: #a799b7;
     background: linear-gradient(0deg, rgba(167,153,183,1) 0%, rgba(152,136,165,1) 100%);
     margin-top: 100px;
}
/* BARRE DE NAVIGATION */
nav { 
     font-family:"Pacifico";
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content:space-between;
     background-color: #dbabab;
     background: linear-gradient(0deg, rgba(219,171,171,1) 0%, rgba(218,98,98,1) 80%);
     padding-top: 10px;
     padding-bottom: 10px;
}

nav a { color: #161215;
        text-decoration: none;
        font-size: large;}
nav a:hover { text-decoration: underline;
              opacity: 0.7;}
/* ID POUR LA BARRE DE RECHERCHE */
    #cherche { border: 1px solid #f25959;
              border-radius: 50px;}

section {
         background-color: #f4eaff;
         margin-top: 100px;
         padding: 50px;
         border-top: 3px solid #f25959;
         border-bottom: 3px solid #BFA886;
}


.boite ul {
           display: flex;
           flex-direction: row;
           margin-top: 50px;}
.important {
      color:#785b98;
      font-weight: bold;
      text-decoration: underline;
      font-size: large;
}


.mots1 {font-weight: 600;}
.mots2






/*MODIFICATIONS SUR LES IMAGES */

.imgrel {display: flex;
         flex-wrap: wrap;
         justify-content: center;
         gap: 60px;
         margin: 50px;
         padding: 50px;
         border-bottom: 1px solid #eab1bb;
         border-top: 1px solid #BFA886;}

.imgrel img {
             width:250px;
             height:auto;
             object-fit:contain;}




             